body {
    background-image: url(../images/milkbones.jpg);
    background-repeat: repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.header,
.splash,
.recent,
.rosieQuote,
.signUp,
.footer {
    max-width: 1100px;
    min-width: 400px;
    display: flex;
    align-items: center;
    /* margin-top: 20px;  */
}

#pageContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    background-color: #1F2937;
    margin-top: 0px;
}

.header ul {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    padding-left: 0;
    gap: 16px;
}

.header > * {
    margin: 0 40px 20px
}

ul a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #3882F6;
}

.splash {
    background-color: #1F2937;
    flex-wrap: wrap;
    margin-top: 0;
}

.splashText {
    font-size: 18px;
    color: #E5E7EB;
    min-width: 315px;
    flex: 1;
    margin: 0 40px;
}

.heroBlock {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.recent,
.signUp {
    background-color: white;
    flex-direction: column;    
}

.reviewCards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.reviewCards img {
    width: 120px;
    height: 100%;
}

.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: #1F2937;
  }

.rosieQuote {
    background-color: #E5E7EB;
    flex-direction: column;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;

}

.rosieTitle {
    margin-left: auto;
    margin-right: 120px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
}

.signUpContainer {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
    display: flex;
    margin: 40px 80px;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
  }
 
button.signUpButton {
    margin-left: 150px;
}